USE [master]
GO
/****** Object:  Database [pvli1_classbook]    Script Date: 16.4.2019 г. 23:47:52 ******/
CREATE DATABASE [pvli1_classbook]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'classbook', FILENAME = N'C:\db-backup-freeasphosting\pvli1_classbook.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'classbook_log', FILENAME = N'C:\db-backup-freeasphosting\pvli1_classbook.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pvli1_classbook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pvli1_classbook]
GO
USE [pvli1_classbook]
GO
/****** Object:  Schema [classbook]    Script Date: 16.4.2019 г. 23:47:56 ******/
CREATE SCHEMA [classbook]
GO
/****** Object:  Table [classbook].[Classes]    Script Date: 16.4.2019 г. 23:47:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [classbook].[Classes](
	[ClassId] [int] IDENTITY(1,1) NOT NULL,
	[Grade] [int] NOT NULL,
	[Letter] [nvarchar](2) NOT NULL,
	[HeadTeacherId] [int] NOT NULL,
 CONSTRAINT [PK_classes_classId] PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [classbook].[Marks]    Script Date: 16.4.2019 г. 23:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [classbook].[Marks](
	[MarkId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](11) NOT NULL,
	[Number] [numeric](3, 2) NOT NULL,
	[SubjectId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_marks_markId] PRIMARY KEY CLUSTERED 
(
	[MarkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [classbook].[Parents]    Script Date: 16.4.2019 г. 23:47:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [classbook].[Parents](
	[ParentId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[MiddleName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[PersonalNumber] [nvarchar](10) NOT NULL,
	[StudentId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [classbook].[StudentContactInfo]    Script Date: 16.4.2019 г. 23:47:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [classbook].[StudentContactInfo](
	[ContactInfoId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](20) NOT NULL,
	[PhoneNumber] [nvarchar](12) NOT NULL,
	[StudentId] [int] NOT NULL,
 CONSTRAINT [PK_student_contact_info_contactInfoId] PRIMARY KEY CLUSTERED 
(
	[ContactInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [classbook].[Students]    Script Date: 16.4.2019 г. 23:47:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [classbook].[Students](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[MiddleName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[Birthdate] [date] NOT NULL,
	[PersonalNumber] [nvarchar](10) NOT NULL,
	[ClassId] [int] NOT NULL,
 CONSTRAINT [PK_students_studentId] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [classbook].[Subjects]    Script Date: 16.4.2019 г. 23:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [classbook].[Subjects](
	[SubjectId] [int] IDENTITY(7,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_subjects_subjectId] PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [classbook].[TeacherContactInfo]    Script Date: 16.4.2019 г. 23:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [classbook].[TeacherContactInfo](
	[ContactInfoId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](20) NOT NULL,
	[PhoneNumber] [nvarchar](12) NOT NULL,
	[TeacherId] [int] NOT NULL,
 CONSTRAINT [PK_teacher_contact_info_contactInfoId] PRIMARY KEY CLUSTERED 
(
	[ContactInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [classbook].[Teachers]    Script Date: 16.4.2019 г. 23:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [classbook].[Teachers](
	[TeacherId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[MiddleName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[Birthdate] [date] NOT NULL,
	[PersonalNumber] [nvarchar](10) NOT NULL,
	[SubjectId] [int] NOT NULL,
	[ExtendedPermissions] [bit] NOT NULL,
 CONSTRAINT [PK_teachers_teacherId] PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [classbook].[Classes] ON 

INSERT [classbook].[Classes] ([ClassId], [Grade], [Letter], [HeadTeacherId]) VALUES (1, 3, N'SP', 134)
INSERT [classbook].[Classes] ([ClassId], [Grade], [Letter], [HeadTeacherId]) VALUES (2, 2, N'RW', 283)
INSERT [classbook].[Classes] ([ClassId], [Grade], [Letter], [HeadTeacherId]) VALUES (3, 6, N'T', 118)
SET IDENTITY_INSERT [classbook].[Classes] OFF
SET IDENTITY_INSERT [classbook].[Marks] ON 

INSERT [classbook].[Marks] ([MarkId], [Description], [Number], [SubjectId], [StudentId], [TeacherId], [Date]) VALUES (1, N'Good', CAST(4.94 AS Numeric(3, 2)), 29, 227, 263, CAST(N'2020-09-18' AS Date))
INSERT [classbook].[Marks] ([MarkId], [Description], [Number], [SubjectId], [StudentId], [TeacherId], [Date]) VALUES (2, N'Good', CAST(5.46 AS Numeric(3, 2)), 43, 188, 185, CAST(N'2010-07-02' AS Date))
INSERT [classbook].[Marks] ([MarkId], [Description], [Number], [SubjectId], [StudentId], [TeacherId], [Date]) VALUES (3, N'Excellent', CAST(5.72 AS Numeric(3, 2)), 33, 176, 330, CAST(N'2019-06-08' AS Date))
GO
SET IDENTITY_INSERT [classbook].[Marks] OFF
SET IDENTITY_INSERT [classbook].[Parents] ON 

INSERT [classbook].[Parents] ([ParentId], [FirstName], [MiddleName], [LastName], [PersonalNumber], [StudentId]) VALUES (2, N'Mitko', N'Mitkov', N'Minkov', N'1234567891', 1)
INSERT [classbook].[Parents] ([ParentId], [FirstName], [MiddleName], [LastName], [PersonalNumber], [StudentId]) VALUES (3, N'Poppy', N'Poppy', N'Poppy', N'0123456789', 4)
SET IDENTITY_INSERT [classbook].[Parents] OFF
SET IDENTITY_INSERT [classbook].[StudentContactInfo] ON 

INSERT [classbook].[StudentContactInfo] ([ContactInfoId], [Email], [PhoneNumber], [StudentId]) VALUES (1, N'HHYK', N'711-642-8354', 81)
INSERT [classbook].[StudentContactInfo] ([ContactInfoId], [Email], [PhoneNumber], [StudentId]) VALUES (2, N'7W3OJ1N2Q', N'703-029-7910', 57)
INSERT [classbook].[StudentContactInfo] ([ContactInfoId], [Email], [PhoneNumber], [StudentId]) VALUES (3, N'AHAM', N'765-2826883', 319)
GO
SET IDENTITY_INSERT [classbook].[StudentContactInfo] OFF
SET IDENTITY_INSERT [classbook].[Students] ON 

INSERT [classbook].[Students] ([StudentId], [FirstName], [MiddleName], [LastName], [Birthdate], [PersonalNumber], [ClassId]) VALUES (1, N'Lydia', N'Gilmore', N'Kelley', CAST(N'1991-11-10' AS Date), N'3376299241', 29)
INSERT [classbook].[Students] ([StudentId], [FirstName], [MiddleName], [LastName], [Birthdate], [PersonalNumber], [ClassId]) VALUES (2, N'Julia', N'Arias', N'James', CAST(N'1973-07-07' AS Date), N'0045577462', 37)
INSERT [classbook].[Students] ([StudentId], [FirstName], [MiddleName], [LastName], [Birthdate], [PersonalNumber], [ClassId]) VALUES (3, N'Chester', N'Osborne', N'Dixon', CAST(N'2000-01-11' AS Date), N'3390475302', 45)
GO
SET IDENTITY_INSERT [classbook].[Students] OFF
SET IDENTITY_INSERT [classbook].[Subjects] ON 

INSERT [classbook].[Subjects] ([SubjectId], [Name]) VALUES (13, N'Ancient Greek')
INSERT [classbook].[Subjects] ([SubjectId], [Name]) VALUES (23, N'Animal husbandry')
INSERT [classbook].[Subjects] ([SubjectId], [Name]) VALUES (34, N'Art')
SET IDENTITY_INSERT [classbook].[Subjects] OFF
SET IDENTITY_INSERT [classbook].[TeacherContactInfo] ON 

INSERT [classbook].[TeacherContactInfo] ([ContactInfoId], [Email], [PhoneNumber], [TeacherId]) VALUES (1, N'laskjd@asmn', N'1234567890', 335)
INSERT [classbook].[TeacherContactInfo] ([ContactInfoId], [Email], [PhoneNumber], [TeacherId]) VALUES (2, N'laasdajd@asmn', N'1234567899', 336)
INSERT [classbook].[TeacherContactInfo] ([ContactInfoId], [Email], [PhoneNumber], [TeacherId]) VALUES (3, N'pafka@gmail', N'0123465789', 337)
GO
SET IDENTITY_INSERT [classbook].[TeacherContactInfo] OFF
SET IDENTITY_INSERT [classbook].[Teachers] ON 

INSERT [classbook].[Teachers] ([TeacherId], [FirstName], [MiddleName], [LastName], [Birthdate], [PersonalNumber], [SubjectId], [ExtendedPermissions]) VALUES (1, N'Joyce', N'Greer', N'Wood', CAST(N'1985-11-03' AS Date), N'6561865618', 39, 1)
INSERT [classbook].[Teachers] ([TeacherId], [FirstName], [MiddleName], [LastName], [Birthdate], [PersonalNumber], [SubjectId], [ExtendedPermissions]) VALUES (2, N'Armando', N'Rose', N'Harrington', CAST(N'1994-07-11' AS Date), N'8720187201', 32, 1)
INSERT [classbook].[Teachers] ([TeacherId], [FirstName], [MiddleName], [LastName], [Birthdate], [PersonalNumber], [SubjectId], [ExtendedPermissions]) VALUES (3, N'Rick', N'Hendricks', N'Barton', CAST(N'1961-01-15' AS Date), N'4471244712', 29, 1)
GO
SET IDENTITY_INSERT [classbook].[Teachers] OFF
/****** Object:  Index [classes$head_teacher_id]    Script Date: 16.4.2019 г. 23:48:09 ******/
ALTER TABLE [classbook].[Classes] ADD  CONSTRAINT [classes$head_teacher_id] UNIQUE NONCLUSTERED 
(
	[HeadTeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_marks_students]    Script Date: 16.4.2019 г. 23:48:09 ******/
CREATE NONCLUSTERED INDEX [fk_marks_students] ON [classbook].[Marks]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_marks_subjects]    Script Date: 16.4.2019 г. 23:48:09 ******/
CREATE NONCLUSTERED INDEX [fk_marks_subjects] ON [classbook].[Marks]
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_marks_teachers]    Script Date: 16.4.2019 г. 23:48:09 ******/
CREATE NONCLUSTERED INDEX [fk_marks_teachers] ON [classbook].[Marks]
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [student_contact_info$student_id]    Script Date: 16.4.2019 г. 23:48:09 ******/
ALTER TABLE [classbook].[StudentContactInfo] ADD  CONSTRAINT [student_contact_info$student_id] UNIQUE NONCLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [students$personalNumber_UNIQUE]    Script Date: 16.4.2019 г. 23:48:09 ******/
ALTER TABLE [classbook].[Students] ADD  CONSTRAINT [students$personalNumber_UNIQUE] UNIQUE NONCLUSTERED 
(
	[PersonalNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_students_classes]    Script Date: 16.4.2019 г. 23:48:09 ******/
CREATE NONCLUSTERED INDEX [fk_students_classes] ON [classbook].[Students]
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [subjects$name]    Script Date: 16.4.2019 г. 23:48:09 ******/
ALTER TABLE [classbook].[Subjects] ADD  CONSTRAINT [subjects$name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [teacher_contact_info$teacherId_UNIQUE]    Script Date: 16.4.2019 г. 23:48:09 ******/
ALTER TABLE [classbook].[TeacherContactInfo] ADD  CONSTRAINT [teacher_contact_info$teacherId_UNIQUE] UNIQUE NONCLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [teachers$personalNumber_UNIQUE]    Script Date: 16.4.2019 г. 23:48:09 ******/
ALTER TABLE [classbook].[Teachers] ADD  CONSTRAINT [teachers$personalNumber_UNIQUE] UNIQUE NONCLUSTERED 
(
	[PersonalNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fk_teachers_subjects]    Script Date: 16.4.2019 г. 23:48:09 ******/
CREATE NONCLUSTERED INDEX [fk_teachers_subjects] ON [classbook].[Teachers]
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [classbook].[Teachers] ADD  DEFAULT ((0)) FOR [ExtendedPermissions]
GO
ALTER TABLE [classbook].[Classes]  WITH CHECK ADD  CONSTRAINT [classes$fk_classes_teachers] FOREIGN KEY([HeadTeacherId])
REFERENCES [classbook].[Teachers] ([TeacherId])
GO
ALTER TABLE [classbook].[Classes] CHECK CONSTRAINT [classes$fk_classes_teachers]
GO
ALTER TABLE [classbook].[Marks]  WITH CHECK ADD  CONSTRAINT [marks$fk_marks_students] FOREIGN KEY([StudentId])
REFERENCES [classbook].[Students] ([StudentId])
GO
ALTER TABLE [classbook].[Marks] CHECK CONSTRAINT [marks$fk_marks_students]
GO
ALTER TABLE [classbook].[Marks]  WITH CHECK ADD  CONSTRAINT [marks$fk_marks_subjects] FOREIGN KEY([SubjectId])
REFERENCES [classbook].[Subjects] ([SubjectId])
GO
ALTER TABLE [classbook].[Marks] CHECK CONSTRAINT [marks$fk_marks_subjects]
GO
ALTER TABLE [classbook].[Marks]  WITH CHECK ADD  CONSTRAINT [marks$fk_marks_teachers] FOREIGN KEY([TeacherId])
REFERENCES [classbook].[Teachers] ([TeacherId])
GO
ALTER TABLE [classbook].[Marks] CHECK CONSTRAINT [marks$fk_marks_teachers]
GO
ALTER TABLE [classbook].[Parents]  WITH CHECK ADD  CONSTRAINT [FK_parnets_students] FOREIGN KEY([StudentId])
REFERENCES [classbook].[Students] ([StudentId])
GO
ALTER TABLE [classbook].[Parents] CHECK CONSTRAINT [FK_parnets_students]
GO
ALTER TABLE [classbook].[StudentContactInfo]  WITH CHECK ADD  CONSTRAINT [student_contact_info$fk_student_contact_info] FOREIGN KEY([StudentId])
REFERENCES [classbook].[Students] ([StudentId])
GO
ALTER TABLE [classbook].[StudentContactInfo] CHECK CONSTRAINT [student_contact_info$fk_student_contact_info]
GO
ALTER TABLE [classbook].[Students]  WITH CHECK ADD  CONSTRAINT [students$fk_students_classes] FOREIGN KEY([ClassId])
REFERENCES [classbook].[Classes] ([ClassId])
GO
ALTER TABLE [classbook].[Students] CHECK CONSTRAINT [students$fk_students_classes]
GO
ALTER TABLE [classbook].[TeacherContactInfo]  WITH CHECK ADD  CONSTRAINT [teacher_contact_info$fk_teacher_contact_info_teachers] FOREIGN KEY([TeacherId])
REFERENCES [classbook].[Teachers] ([TeacherId])
GO
ALTER TABLE [classbook].[TeacherContactInfo] CHECK CONSTRAINT [teacher_contact_info$fk_teacher_contact_info_teachers]
GO
ALTER TABLE [classbook].[Teachers]  WITH CHECK ADD  CONSTRAINT [teachers$fk_teachers_subjects] FOREIGN KEY([SubjectId])
REFERENCES [classbook].[Subjects] ([SubjectId])
GO
ALTER TABLE [classbook].[Teachers] CHECK CONSTRAINT [teachers$fk_teachers_subjects]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'classbook.classes' , @level0type=N'SCHEMA',@level0name=N'classbook', @level1type=N'TABLE',@level1name=N'Classes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'classbook.marks' , @level0type=N'SCHEMA',@level0name=N'classbook', @level1type=N'TABLE',@level1name=N'Marks'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'classbook.student_contact_info' , @level0type=N'SCHEMA',@level0name=N'classbook', @level1type=N'TABLE',@level1name=N'StudentContactInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'classbook.students' , @level0type=N'SCHEMA',@level0name=N'classbook', @level1type=N'TABLE',@level1name=N'Students'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'classbook.subjects' , @level0type=N'SCHEMA',@level0name=N'classbook', @level1type=N'TABLE',@level1name=N'Subjects'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'classbook.teacher_contact_info' , @level0type=N'SCHEMA',@level0name=N'classbook', @level1type=N'TABLE',@level1name=N'TeacherContactInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'classbook.teachers' , @level0type=N'SCHEMA',@level0name=N'classbook', @level1type=N'TABLE',@level1name=N'Teachers'
GO
USE [master]
GO
